.hero {
    background-color: white;
    padding-top: 150px;
    min-height: 750px;
    padding-bottom: 20px;

}

.hero_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero__content {
    padding-top: 100px;
    flex: 1 1 0;
    margin-bottom: clamp(100px, 15.8vw, 200px);
}


.address::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../../images/icons/map-marker-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero__title {
    font-family: "Roboto", sans-serif;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 57px;
    line-height: 110%;
    color: #343d33;	
    margin-bottom: 46px;

}


.btn {
    margin-top: 24px;
    border: 1px solid;  
}

.btn--primary {
    width: 200px;
}

.hero__btn {
    border: 1px solid #343d33;
    color: #343d33;
    background-color: white;
}

.hero_image {
    border-radius: 500px 500px 0 0;
    width: 478px;
    height: 660px;
    position: relative;
    flex: 1 1 0;
    text-align: center;
}

.hero__pic {
    height: 90%;
    object-fit: contain;
    object-position: bottom center;
    margin-left: 80px;
}

.hero_text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
    text-transform: capitalize;
}

.hero__btns {
    display: flex;
    column-gap: 30px;
}